.admin {
  width: 100vw;
  height: 100vh;
  display: flex;
}
.anav {
  height: 100%;
  width: 20%;
  background-color: blueviolet;
}
.nav-links {
  margin-top: 200px;
}
.nav-itm {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  font-weight: 500;
  color: aliceblue;
  width: 100%;
  height: 10vh;
  background-color: rgb(60, 10, 107);
  margin-bottom: 30px;
}
.nav-itm:hover {
  background-color: rgb(157, 85, 224);
  color: rgb(0, 0, 0);
}

/* --------R_list--------------------- */

.r_list {
  width: 100%;
  height: 100%;
  background-color: aquamarine;
}

/* -----------p_list---------------------- */
.p_list {
  width: 100%;
  height: 100%;
  background-color: rgb(18, 49, 223);
}
